<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.analytics }}', 'auto');
        ga('send', 'pageview');
 
    var codes = document.getElementsByClassName("highlighter-rouge")

    if (document.body.clientWidth < 770) {
        for (var j = 0; j < codes.length; j++) {
            codes[j].style.width = document.body.clientWidth - 70 + 'px';
        }
    }

    window.onresize = function () {
        var currentWidth = document.body.clientWidth;
        if (document.body.clientWidth < 770) {
            for (var j = 0; j < codes.length; j++) {
                codes[j].style.width = document.body.clientWidth - 70 + 'px';
            }
        } else {
            for (var i = 0; i < codes.length; i++) {
                codes[i].style.width = currentWidth - 300 + 'px';
            }
        }
    }
</script>
<!-- End Analytics -->