--- 
layout: main 
---

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
    owner: 'zyj7815',
    repo: 'https://github.com/zyj7815/zyj7815.github.io.git',
    oauth: {
        client_id: '44a7ff57fd8f8506575f',
        client_secret: 'b623a1021bc0a04e662882f82e7a535b3145691e',
        },
    })
    gitment.render('container')
</script>


<article class="article-page">
    <div class="page-content">
        {% if page.img %}
        <div class="page-cover-image">
            <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        </div>
        <!-- End Page Cover Image -->
        {% else %} 
        
        {% endif %}
        <div class="wrap-content">
            
            <header class="header-page">
                <h1 class="page-title">{{page.title}}</h1>
                <div class="page-date">
                    <span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </header>
            {{page.content | markdownify}}
            <div class="page-footer">
               
                <div class="page-tag">
                    {% for tag in page.tags %}
                    <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            {% include disqus.html %}
        </div>
        <!-- End Wrap Content -->
    </div>
    <!-- End Page Content -->
</article>
<!-- End Article Page -->